body {
    font-family: sans-serif;
    text-align: center;
    background-color: #adb7ab;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body take the full viewport height */
    margin: 0; /* Remove default margin on the body */
  }
  
  .container {
    background: #c6c5c2;
    padding: 2em;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px; /* Set the container width */
    height: 300px; /* Set the container height */
  }
  
  #char-display {
    font-size: 3em;
    margin: 1em 0;
  }
  
  #input-box {
    font-size: 2em;
    text-align: center;
    width: 50px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}

#square1 {
    background-color: white; /* Initial color for the first square */
}

#square2 {
    background-color: white; /* Initial color for the second square */
}